[Unit]

Description=Zookeeper Service

[Service]
Type=simple
WorkingDirectory=/opt/zookeeper-3.4.13/
PIDFile=/opt/zookeeper-3.4.13/data/zookeeper_server.pid
SyslogIdentifier=zookeeper
User=zookeeper
Group=zookeeper
ExecStart=/opt/zookeeper-3.4.13/bin/zkServer.sh start
ExecStop=/opt/zookeeper-3.4.13/bin/zkServer.sh stop
Restart=always
TimeoutSec=20
SuccessExitStatus=130 143
Restart=on-failure

[Install]
WantedBy=multi-user.target
